.uifry-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.uifry-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.uifry-text {
  max-width: 500px;
}

.logo-image1 {
  margin-right: 10px;
}
.Features{
  width: 116px;
  height: 28px;
  top: 1071px;
  left: 730px;
  font-size: 18px;
  color: #ff5555 !important;
  margin-bottom: 20px;
}
.uifry-text {
  max-width: 500px;
  text-align: justify;
}

.uifry-text h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 20px;
}
.features-title {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
  text-align: justify;
}

.feature p {
  font-size: 1rem;
  color: #333;
  text-align: justify;
  margin-right: 50px;
}
.feature-text {
  display: flex;
  flex-direction: column;
}

.feature-text span {
  font-size: 1rem;
  color: #777; 
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .uifry-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .uifry-image img {
    max-width: 100%;
  }

  .uifry-text {
    max-width: 100%;
  }
}
